body {
  .body {
    .player-console-bg {
      width: 100%;
      min-width: 1300px;
      height: 75px;
      background-color: #282828;
      position: fixed;
      bottom: 0;
      z-index: 1000;
      .player-console {
        width: 1200px;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
          height: 100%;
        }
        .console-song-info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 250px;
          .song-image {
            height: 100%;
            width: 50px;
            .image {
              width: 50px;
              height: 50px;
              overflow: hidden;
              img {
                height: 50px;
                width: auto;
              }
            }
          }
          .song-info {
            height: 50px;
            width: 115px;
            overflow: hidden;
            // flex: 0 0 auto;
            :nth-child(1) {
              font-size: 17px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: clip;
            }
            :nth-child(2) {
              font-size: 12px;
              margin-top: 6px;
            }
          }
          .song-like {
            height: 50px;
            width: 55px;
            // flex: 0 0 auto;
            svg {
              margin-left: 4px;
              padding-top: 2px;
              cursor: pointer;
            }
            i {
              cursor: pointer;
              margin-right: 4px;
              &::before {
                font-size: 20px;
              }
            }
          }
        }
        .console-control {
          width: 500px;
          background-color: #636161;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          div {
            width: 100%;
            flex: 0 0 auto;
          }
          .main-control {
            height: 80px;
          }
          .main-range {
            text-align: center;
            height: 60px;
            span {
              font-size: 12px;
            }
            #song-progress {
              width: 85%;
              -webkit-appearance: none;
              background: #ffffff; /* Otherwise white in Chrome */
              border-radius: 8px;
              height: 5px;
              outline: none;
              border: none;
              position: relative;
              &::-webkit-slider-thumb,
              &::-moz-range-thumb,
              &::-ms-thumb {
                -webkit-appearance: none;
                border-radius: 50%;
                outline: none;
                border: none;
                color: white;
                background-color: white;
              }
              &::-moz-range-progress {
                background: linear-gradient(rgb(87, 197, 87), rgb(83, 208, 83));
                height: 100%;
                border-radius: 50%;
                border: none;
              }

              &:focus {
                outline: none;
              }
            }
          }
        }
        .console-volume-control {
          width: 225px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          #volume {
            width: 75px;

            -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
            // width: 100%; /* Specific width is required for Firefox. */
            background: #ffffff; /* Otherwise white in Chrome */
            border-radius: 8px;
            height: 5px;
            &::-webkit-slider-thumb,
            &::-moz-range-thumb,
            &::-ms-thumb {
              -webkit-appearance: none;
              border-radius: 50%;
              outline: none;
              border: none;
              color: white;
              background-color: white;
            }
            &::-moz-range-progress {
              background-color: #8ece40;
              height: 100%;
              border-radius: 50%;
              border: none;
            }
            // &::-webkit-slider-runnable-track {
            //   // width: 100%;
            //   // height: 8.4px;
            //   // cursor: pointer;
            //   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
            //   // background: #3071a9;
            //   // border-radius: 1.3px;
            //   border: 0.2px solid #010101;
            // }
            &:focus {
              outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
            }
            &::-ms-track {
              width: 100%;
              cursor: pointer;

              /* Hides the slider so custom styles can be added */
              background: white;
              border-color: transparent;
              color: transparent;
            }
          }
        }
      }
    }
  }
}
